.userNavbarFrame {
    height: 4vw;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #07022d;
    z-index: 999;
}

.sidebarFrame {
    height: 100%;
    width: 16vw;
    position: fixed;
    top: 4vw;
    left: 0;
    background-color: #ffffff2d;
    z-index: 899;
}

.UserMainFrame {
    min-height: 100%;
    width: 84%;
    margin-left: 16.1vw;
    padding: 6vw 1vw 1vw 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.ApiCategoryMainFrame{
   min-height: 100%;
    width: 84%;
    margin-left: 15.9vw;
    padding: 6vw 1vw 1vw 1vw;
    display: flex;
    flex-wrap: wrap;
}

.userSidebarFrame {
    height: 100%;
    width: 16vw;
    position: fixed;
    top: 4vw;
    left: 0;
    background-color: #ffffff2d;
    z-index: 899;
}


.userFooterFrame{
    height: 100%;
    width: 84%;
    margin-left: 16vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FooterFrame{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userHomePageFrame {
    position:relative;
    background-color: #1c1c1c
}


.bg_dark_Theme_70{
    background-color: #0b0d10;
}
.bg_dark_Theme_50{
    background-color: #0b0d10c6;
}

.adminMainFrameFull{
    height: 100vh;
    width: 100vw;
    display: flex;
}


.AdminSidebarFrame {
    height: 100%;
    width: 16vw;
    position: fixed;
    top: 4vw;
    left: 0;
    background-color: #ffffff2d;
    z-index: 899;
}