.userNavbarFrame {
    height: 4vw;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #07022d;
    z-index: 999;
}

.sidebarFrame {
    height: 100%;
    width: 16vw;
    position: fixed;
    top: 4vw;
    left: 0;
    background-color: #ffffff2d;
    z-index: 899;
}

.UserMainFrame {
    min-height: 100%;
    width: 84%;
    margin-left: 15.9vw;
    padding: 6vw 1vw 1vw 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.userSidebarFrame {
    height: 90vh;
    width: 16vw;
    position: fixed;
    top: 4vw;
    left: 0;
    background-color: #ffffff2d;
    z-index: 899;
}

.userHomePageFrame {
    position:relative;
    background-color: #1c1c1c
}